<div class="kanban-page">
  <div class="header">
    <div>
      <h1>AI Jira++ Kanban Board</h1>
      <p>Real-time workflow management platform</p>
    </div>

    <div class="top-actions">
      <a href="/dashboard">Back to Dashboard</a>
      <button (click)="loadTasks()">Refresh</button>
      <button (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="create-card">
    <input [(ngModel)]="title" placeholder="Task title" />
    <input [(ngModel)]="description" placeholder="Task description" />

    <select [(ngModel)]="priority">
      <option value="HIGH">HIGH</option>
      <option value="MEDIUM">MEDIUM</option>
      <option value="LOW">LOW</option>
    </select>

    <button (click)="createTask()">Create Task</button>
    @if (hasTaskInput()) {
  <div class="ai-box">
    <h3>AI Priority Suggestion</h3>

    <p>
      Suggested Priority:
      <strong>{{ getAiSuggestion() }}</strong>
    </p>

    <p>
      Reason:
      {{ getAiReason() }}
    </p>
  </div>
}
  </div>

  @if (loading) {
    <p class="loading">Loading tasks...</p>
  }

  @if (error) {
    <p class="error">{{ error }}</p>
  }

  <div class="board">
    <div class="column">
      <h2>TODO</h2>

      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[progressList, doneList]"
        class="task-list"
        (cdkDropListDropped)="drop($event, 'TODO')">

        @for (task of todo; track task.id) {
          <div class="task-card" cdkDrag>
            <h3>{{ task.title }}</h3>
            <p>{{ task.description }}</p>
            <span>{{ task.priority }}</span>
            <small>Created: {{ task.createdAt }}</small>
          </div>
        }
      </div>
    </div>

    <div class="column">
      <h2>IN PROGRESS</h2>

      <div
        cdkDropList
        #progressList="cdkDropList"
        [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        class="task-list"
        (cdkDropListDropped)="drop($event, 'IN_PROGRESS')">

        @for (task of inProgress; track task.id) {
          <div class="task-card" cdkDrag>
            <h3>{{ task.title }}</h3>
            <p>{{ task.description }}</p>
            <span>{{ task.priority }}</span>
            <small>Created: {{ task.createdAt }}</small>
          </div>
        }
      </div>
    </div>

    <div class="column">
      <h2>DONE</h2>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList, progressList]"
        class="task-list"
        (cdkDropListDropped)="drop($event, 'DONE')">

        @for (task of done; track task.id) {
          <div class="task-card" cdkDrag>
            <h3>{{ task.title }}</h3>
            <p>{{ task.description }}</p>
            <span>{{ task.priority }}</span>
            <small>Created: {{ task.createdAt }}</small>
          </div>
        }
      </div>
    </div>
  </div>
</div>